<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
        xmlns:context="http://www.springframework.org/schema/context"
        xmlns:sec="http://www.springframework.org/schema/security" xmlns:oauth="http://www.springframework.org/schema/security/oauth2"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
          http://www.springframework.org/schema/context
          http://www.springframework.org/schema/context/spring-context-3.0.xsd
          http://www.springframework.org/schema/security
          http://www.springframework.org/schema/security/spring-security-3.0.4.xsd
          http://www.springframework.org/schema/security/oauth2
          http://www.springframework.org/schema/security/spring-security-oauth2-2.0.xsd">

  <bean class="org.geoserver.platform.ModuleStatusImpl">
    <constructor-arg index="0" value="gs-sec-oauth2-openstreetmap" />
    <constructor-arg index="1" value="GeoServer Security OAuth2 OpenStreetMap" />
  </bean>

  <!-- OAuth2 Security Extension -->
  <bean id="openStreetMapOAuth2TokenServices"
        class="org.geoserver.security.oauth2.services.OpenStreetMapTokenServices">
  </bean>

    <bean id="openStreetMapOAuth2AuthenticationProvider"
          class="org.geoserver.security.oauth2.OpenStreetMapOAuth2AuthenticationProvider">
      <constructor-arg ref="authenticationManager" />
      <constructor-arg value="openStreetMapOAuth2TokenServices" />
      <constructor-arg value="openStreetMapOAuth2SecurityConfiguration" />
      <constructor-arg value="openStreetMapOauth2RestTemplate" />
    </bean>

    <!-- wicket ui stuff -->

    <!-- ui auth provider panel info -->
    <bean id="openStreetMapOAuth2AuthPanelInfo"
          class="org.geoserver.web.security.oauth2.OpenStreetMapOAuth2AuthProviderPanelInfo">
      <property name="id" value="security.OpenStreetMapOAuth2AuthProvider" />
      <property name="shortTitleKey" value="OpenStreetMapOAuth2AuthProviderPanel.short" />
      <property name="titleKey" value="OpenStreetMapOAuth2AuthProviderPanel.title" />
      <property name="descriptionKey" value="OpenStreetMapOAuth2AuthProviderPanel.description" />
    </bean>

    <!-- login button -->
    <bean id="openstreetmapFormLoginButton" class="org.geoserver.web.LoginFormInfo">
      <property name="id" value="openstreetmapFormLoginButton" />
      <!-- property name="titleKey" value="OpenStreetMapOAuth2AuthProviderPanel.login" / -->
      <property name="titleKey" value="" />
      <property name="descriptionKey" value="OpenStreetMapOAuth2AuthProviderPanel.description" />
      <property name="componentClass" value="org.geoserver.web.security.oauth2.OpenStreetMapOAuth2AuthProviderPanel" />
      <property name="name" value="openstreetmap" />
      <property name="icon" value="openstreetmap.png" />
      <property name="filterClass" value="org.geoserver.security.oauth2.OpenStreetMapOAuthAuthenticationFilter" />
      <property name="loginPath" value="web/j_spring_oauth2_openstreetmap_login" />
    </bean>
</beans>
